In [1]:
import pandas as pd
import os
import json

In [2]:
folder_path = '/Users/adstr/Desktop/artic-api-data/json/artworks'

# initialize list of rows
rows = []

# iterate through json files, populating the list as we go
for filename in os.listdir(folder_path):
    if filename.endswith('.json'):
        with open(os.path.join(folder_path, filename), 'r') as file:
            data = json.load(file)

            # create a new row for each descriptor in the json
            for artist_id in data['artist_ids']:
                rows.append((data['id'], artist_id))

In [3]:
# convert rows to a dataframe
df = pd.DataFrame(rows, columns=['artwork_id', 'artist_id'])
df.head()

   artwork_id  artist_id
0       57896      37362
1      127292      44401
2      120557      43578
3        2833      29845
4      143079      43008

In [ ]:
df.to_csv('Entities/Made.csv', index=False)